.App {
  font-family: sans-serif;
  text-align: center;
}

.emojilist {
  list-style-type: none;
  text-align: center;

  padding-inline-start: 0;
}
.emojilistitem {
  display: inline-block;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
}
footer ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

footer ul li {
  margin: 1rem;
  font-weight: 700;
}
footer ul li a {
  text-decoration: none;
  cursor: pointer;
  color: grey;
}
footer ul li a:hover {
  color: black;
  transition: 0.4s;
}
footer div {
  color: grey;
}
.credit {
  text-decoration: none;
  color: grey;
}
.credit:hover {
  color: black;
  border-bottom: 1px solid purple;
  cursor: pointer;
}
